/* {%- comment -%}
   -----------------------------------------------------------------------------
   FONT FACE DECLARATIONS
   -----------------------------------------------------------------------------

   The `title` family is a dramatic, condensed didone display face called Imbue.
   Its stretch factor is static, but its weight (wght) and optical sizing (opsz)
   are variable within the inclusive ranges 100-900 and 0-100 respectively. It’s
   got good support for titling caps (case, cpsp), too. Most low depth headings,
   including the Last Odyssey logotype heading, will be rendered in this family.

   As mentioned above, the upper bound of the weight axis is 900 — and at 900 it
   really is heavy enough, keeping in mind the high compression, to constitute a
   subjective black. At the moment however I doubt we’ll make use of any weights
   in excess of 550. No doubt there could be situations where leveraging weights
   beyond 550 could end up being quite effective, but the circumstances would be
   narrow and would tend to demand further fixed restrictions (e.g. only titling
   caps; odd letter spacing; use of distinct fill, stroke, bounding box borders,
   etc) I suspect, as a usage pattern that did not afford some object-held-at-a-
   distance-ness to it would risk coming across as plodding, garish, and tonally
   off kilter; at best, it might suggest irony. Soon after 550, the face ends up
   feeling decidedly exaggerated, humorous in a belt-at-thanksgiving-dinner way.
   But this does not mean there is no bold (700); it means subjective bold is in
   fact 550 — i.e. where a weight half way between medium and semibold would be,
   usually. Likewise I would call 275 its normal or book weight, not 400, and at
   its realized 100 it is not in fact thin but rather half way between light and
   extra light, in my estimation. This seems to arise from vertical stroke width
   increasing *linearly* from 100 to 900 even though — according to me lol; ymmv
   — stroke thickness oughta have grown along a *curve that eased out* along the
   axis such that what’s 600 presently might have landed at 800 instead — and it
   wouldn’t have hurt to let 100 be genuinely thin while at it.

   NOTE!
   -----------------------------------------------------------------------------
     The font’s opsz axis proper seems excellent, and screen-calibrated, too; it
     seems its designers understood that the opsz parameter’s value ain’t just a
     vibes-based integer but rather has a unit — and that that unit ain’t pixels
     but *points* (a few variable fonts I’ve poked at seemed to have gotten that
     wrong, perhaps). Of course, optical sizing also implies a view distance and
     clarity of human vision and effective resolution and so on, but at 2dppx at
     typical desktop viewing distances with minimally degraded nearsight vision,
     it’d seem spot on. However something’s wonky about its implementation — not
     sure what, exactly, but somethin’! — cause neither gecko nor blink succeeds
     at realizing optical sizing automatically fer the default case (at least on
     my windows machine). And not only do they fail to make the axis parameter a
     function of real rendered font sizes, instead of getting opsz 0 results, as
     we oughta in such scenarios, what we get fer every size is 100! Def a bug —
     but all it ends up meaning fer us is that we’ll need to se the opsz axis on
     a case-by-case basis using the “close to the metal” font-variation-settings
     property or else bind it ourself from a single custom property ... and we’d
     have ended up doing more or less the same thing anyway to halve or zero out
     opsz at most sizes on < 2dppx displays so the user dunt end up with a mouth
     full of invisible hairlines and nothin’ to read. The parameters set at this
     declaration level are those meant for the logotype — where we actually want
     to overshoot the designer opsz a bit to evoke fantastic crystaline regality
     and grant the logotype a subtle distinction from all other text, marking it
     an ephemerally “finer thing” than any titles leaning safely sturdier below.
  ------------------------------------------------------------------------------

  Oldstyle figures are supported, but lining is set as the default here. I doubt
  we’d want the oldstyle figures in any title text because the face is all about
  a certain columnade / arcade effect, and the more pillars the better, I’d say.

                                                           {%- endcomment -%} */

@font-face {
  font-family                   : title;
  font-stretch                  : extra-condensed;
  font-style                    : normal;
  font-weight                   : 100 900;

  ascent-override               : normal;
  descent-override              : normal;
  font-language-override        : normal;
  line-gap-override             : normal;
  size-adjust                   : 107%;
  subscript-position-override   : from-font;
  subscript-size-override       : from-font;
  superscript-position-override : from-font;
  superscript-size-override     : from-font;

  font-display : block;
  src          : url("/_subresources/fonts/imbue.woff2")
                 format(woff2)
                 tech(variations);

  font-feature-settings
    "aalt" 0,/*{% comment %} Access All Alternates    START 0 {% endcomment %}*/
    "c2sc" 0,/*{% comment %} Small Caps from Caps     START 0 {% endcomment %}*/
    "case" 0,/*{% comment %} Case-Sensitive Forms     START 0 {% endcomment %}*/
    "ccmp" 1,/*{% comment %} Glyph (De)composition   STATIC 1 {% endcomment %}*/
    "cpsp" 0,/*{% comment %} Capital Spacing          START 0 {% endcomment %}*/
    "dlig" 1,/*{% comment %} Discretionary Ligatures  START 0 {% endcomment %}*/
    "dnom" 0,/*{% comment %} Denominators             START 0 {% endcomment %}*/
    "frac" 0,/*{% comment %} Fractions                START 0 {% endcomment %}*/
    "kern" 1,/*{% comment %} Kerning                  START 1 {% endcomment %}*/
    "liga" 1,/*{% comment %} Standard Ligatures       START 1 {% endcomment %}*/
    "lnum" 1,/*{% comment %} Lining Figures           START 0 {% endcomment %}*/
    "locl" 1,/*{% comment %} Localized Forms         STATIC 1 {% endcomment %}*/
    "mark" 1,/*{% comment %} Mark Positioning        STATIC 1 {% endcomment %}*/
    "mkmk" 1,/*{% comment %} Mark 2 Mark Positioning STATIC 1 {% endcomment %}*/
    "numr" 0,/*{% comment %} Numerators               START 0 {% endcomment %}*/
    "onum" 0,/*{% comment %} Oldstyle Figures         START 0 {% endcomment %}*/
    "ordn" 0,/*{% comment %} Ordinals                 START 0 {% endcomment %}*/
    "smcp" 0,/*{% comment %} Small Capitals           START 0 {% endcomment %}*/
    "sups" 0,/*{% comment %} Superscript              START 0 {% endcomment %}*/
    "zero" 0;/*{% comment %} Slashed Zero             START 0 {% endcomment %}*/

  font-variation-settings:
    normal;

  unicode-range:
    U+0-2CC, U+2CE-2D7, U+2DA, U+2DC-301, U+303-304, U+308-309, U+323, U+329,
    U+1D00-1DBF, U+1E00-1EFF, U+2000-206F, U+2020, U+20A0-20C0, U+2113, U+2122,
    U+2191, U+2193, U+2212, U+2215, U+2C60-2C7F, U+A720-A7FF, U+FEFF, U+FFFD;
}

@font-face {
  font-family                   : prose;
  font-stretch                  : normal;
  font-style                    : normal;
  font-weight                   : 400 900;

  ascent-override               : 102%;
  descent-override              : 27%;
  font-language-override        : normal;
  line-gap-override             : normal;
  size-adjust                   : 100%;
  subscript-position-override   : from-font;
  subscript-size-override       : from-font;
  superscript-position-override : from-font;
  superscript-size-override     : from-font;

  font-display : swap;
  src          : url("/_subresources/fonts/bodoni-moda-roman.woff2")
                 format(woff2)
                 tech(variations);

  font-feature-settings:
    "aalt" 0,/*{% comment %} Access All Alternates    START 0 {% endcomment %}*/
    "c2sc" 0,/*{% comment %} Small Caps from Caps     START 0 {% endcomment %}*/
    "case" 0,/*{% comment %} Case-Sensitive Forms     START 0 {% endcomment %}*/
    "ccmp" 1,/*{% comment %} Glyph (De)composition   STATIC 1 {% endcomment %}*/
    "dlig" 1,/*{% comment %} Discretionary Ligatures  START 0 {% endcomment %}*/
    "frac" 0,/*{% comment %} Fractions                START 0 {% endcomment %}*/
    "hlig" 1,/*{% comment %} Historical Ligatures     START 0 {% endcomment %}*/
    "kern" 1,/*{% comment %} Kerning                  START 1 {% endcomment %}*/
    "liga" 1,/*{% comment %} Standard Ligatures       START 1 {% endcomment %}*/
    "lnum" 0,/*{% comment %} Lining Figures           START 0 {% endcomment %}*/
    "locl" 1,/*{% comment %} Localized Forms         STATIC 1 {% endcomment %}*/
    "mark" 1,/*{% comment %} Mark Positioning        STATIC 1 {% endcomment %}*/
    "onum" 0,/*{% comment %} Oldstyle Figures         START 0 {% endcomment %}*/
    "ordn" 0,/*{% comment %} Ordinals                 START 0 {% endcomment %}*/
    "pnum" 0,/*{% comment %} Proportional Figures     START 0 {% endcomment %}*/
    "smcp" 0,/*{% comment %} Small Capitals           START 0 {% endcomment %}*/
    "ss01" 1,/*{% comment %} Styl. Set 1: Generous J  START 0 {% endcomment %}*/
    "ss02" 0,/*{% comment %} Styl. Set 2: Sheepish R  START 0 {% endcomment %}*/
    "ss03" 0,/*{% comment %} Styl. Set 3: Sensuous 4  START 0 {% endcomment %}*/
    "sups" 0,/*{% comment %} Superscript              START 0 {% endcomment %}*/
    "tnum" 0;/*{% comment %} Tabular Figures          START 0 {% endcomment %}*/

  font-variation-settings:
    normal;
}

@font-face {
  font-family                   : prose;
  font-stretch                  : normal;
  font-style                    : italic;
  font-weight                   : 400 900;

  ascent-override               : 102%;
  descent-override              : 27%;
  font-language-override        : normal;
  line-gap-override             : normal;
  size-adjust                   : 100%;
  subscript-position-override   : from-font;
  subscript-size-override       : from-font;
  superscript-position-override : from-font;
  superscript-size-override     : from-font;

  font-display : swap;
  src          : url("/_subresources/fonts/bodoni-moda-italic.woff2")
                 format(woff2)
                 tech(variations);

  font-feature-settings:
    "aalt" 0,/*{% comment %} Access All Alternates    START 0 {% endcomment %}*/
    "c2sc" 0,/*{% comment %} Small Caps from Caps     START 0 {% endcomment %}*/
    "case" 0,/*{% comment %} Case-Sensitive Forms     START 0 {% endcomment %}*/
    "ccmp" 1,/*{% comment %} Glyph (De)composition   STATIC 1 {% endcomment %}*/
    "dlig" 1,/*{% comment %} Discretionary Ligatures  START 0 {% endcomment %}*/
    "frac" 0,/*{% comment %} Fractions                START 0 {% endcomment %}*/
    "hlig" 1,/*{% comment %} Historical Ligatures     START 0 {% endcomment %}*/
    "kern" 1,/*{% comment %} Kerning                  START 1 {% endcomment %}*/
    "liga" 1,/*{% comment %} Standard Ligatures       START 1 {% endcomment %}*/
    "lnum" 0,/*{% comment %} Lining Figures           START 0 {% endcomment %}*/
    "locl" 1,/*{% comment %} Localized Forms         STATIC 1 {% endcomment %}*/
    "mark" 1,/*{% comment %} Mark Positioning        STATIC 1 {% endcomment %}*/
    "onum" 0,/*{% comment %} Oldstyle Figures         START 0 {% endcomment %}*/
    "ordn" 0,/*{% comment %} Ordinals                 START 0 {% endcomment %}*/
    "pnum" 0,/*{% comment %} Proportional Figures     START 0 {% endcomment %}*/
    "smcp" 0,/*{% comment %} Small Capitals           START 0 {% endcomment %}*/
    "ss01" 1,/*{% comment %} Styl. Set 1: Generous J  START 0 {% endcomment %}*/
    "ss02" 0,/*{% comment %} Styl. Set 2: Sheepish R  START 0 {% endcomment %}*/
    "ss03" 1,/*{% comment %} Styl. Set 3: Sensuous 4  START 0 {% endcomment %}*/
    "sups" 0,/*{% comment %} Superscript              START 0 {% endcomment %}*/
    "tnum" 0;/*{% comment %} Tabular Figures          START 0 {% endcomment %}*/

  font-variation-settings:
    normal;
}

@font-face {
  font-family                   : table;
  font-stretch                  : normal;
  font-style                    : italic;
  font-weight                   : 100 900;

  ascent-override               : normal;
  descent-override              : normal;
  font-language-override        : normal;
  line-gap-override             : normal;
  size-adjust                   : 100%;
  subscript-position-override   : from-font;
  subscript-size-override       : from-font;
  superscript-position-override : from-font;
  superscript-size-override     : from-font;

  font-display : swap;
  src          : url(/_subresources/fonts/inter-italic-latn-viet.woff2)
                 format(woff2)
                 tech(variations);

  font-feature-settings:
    normal;

  font-variation-settings:
    normal;

  unicode-range:
    U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301,
    U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;

}

@font-face {
  font-family                   : table;
  font-stretch                  : normal;
  font-style                    : italic;
  font-weight                   : 100 900;

  ascent-override               : normal;
  descent-override              : normal;
  font-language-override        : normal;
  line-gap-override             : normal;
  size-adjust                   : 100%;
  subscript-position-override   : from-font;
  subscript-size-override       : from-font;
  superscript-position-override : from-font;
  superscript-size-override     : from-font;

  font-display : swap;
  src          : url(/_subresources/fonts/inter-italic-latn-more.woff2)
                 format(woff2)
                 tech(variations);

  font-feature-settings:
    normal;

  font-variation-settings:
    normal;

  unicode-range:
    U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329,
    U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0,
    U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family                   : table;
  font-stretch                  : normal;
  font-style                    : italic;
  font-weight                   : 100 900;

  ascent-override               : normal;
  descent-override              : normal;
  font-language-override        : normal;
  line-gap-override             : normal;
  size-adjust                   : 100%;
  subscript-position-override   : from-font;
  subscript-size-override       : from-font;
  superscript-position-override : from-font;
  superscript-size-override     : from-font;

  font-display : swap;
  src          : url(/_subresources/fonts/inter-italic-latn-base.woff2)
                 format(woff2)
                 tech(variations);

  font-feature-settings:
    normal;

  font-variation-settings:
    normal;

  unicode-range:
    U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308,
    U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

@font-face {
  font-family                   : table;
  font-stretch                  : normal;
  font-style                    : normal;
  font-weight                   : 100 900;

  ascent-override               : normal;
  descent-override              : normal;
  font-language-override        : normal;
  line-gap-override             : normal;
  size-adjust                   : 100%;
  subscript-position-override   : from-font;
  subscript-size-override       : from-font;
  superscript-position-override : from-font;
  superscript-size-override     : from-font;

  font-display : swap;
  src          : url(/_subresources/fonts/inter-roman-latn-viet.woff2)
                 format(woff2)
                 tech(variations);

  font-feature-settings:
    normal;

  font-variation-settings:
    normal;

  unicode-range:
    U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301,
    U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family                   : table;
  font-stretch                  : normal;
  font-style                    : normal;
  font-weight                   : 100 900;

  ascent-override               : normal;
  descent-override              : normal;
  font-language-override        : normal;
  line-gap-override             : normal;
  size-adjust                   : 100%;
  subscript-position-override   : from-font;
  subscript-size-override       : from-font;
  superscript-position-override : from-font;
  superscript-size-override     : from-font;

  font-display : swap;
  src          : url(/_subresources/fonts/inter-roman-latn-more.woff2)
                 format(woff2)
                 tech(variations);

  font-feature-settings:
    normal;

  font-variation-settings:
    normal;

  unicode-range:
    U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329,
    U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0,
    U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family                   : table;
  font-stretch                  : normal;
  font-style                    : normal;
  font-weight                   : 100 900;

  ascent-override               : normal;
  descent-override              : normal;
  font-language-override        : normal;
  line-gap-override             : normal;
  size-adjust                   : 100%;
  subscript-position-override   : from-font;
  subscript-size-override       : from-font;
  superscript-position-override : from-font;
  superscript-size-override     : from-font;

  font-display : swap;
  src          : url(/_subresources/fonts/inter-roman-latn-base.woff2)
                 format(woff2)
                 tech(variations);

  font-feature-settings:
    normal;

  font-variation-settings:
    normal;

  unicode-range:
    U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308,
    U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
