<!DOCTYPE html>

<html lang="{{page.locale}}">
   <head>
    <meta charset="utf-8">
    <meta name="color-scheme"            content="light dark">
    <meta name="description"             content="{{ page.description | default: site.description }}">
    <meta name="referrer"                content="no-referrer">
    <meta name="supports-reduced-motion" content="reduce">
    <meta name="text-scale"              content="scale">
    <meta name="theme-color"             content="{{site.data.colors.HINT_CHROME_DM}}" media="(prefers-color-scheme: dark)">
    <meta name="theme-color"             content="{{site.data.colors.HINT_CHROME_LM}}" media="not (prefers-color-scheme: dark)">
    <meta name="viewport"                content="width=device-width,initial-scale=1">

    <title>
      {%- if page.title -%}
        {{- page.title | escape -}}
        {{- " ⟡ " -}}
      {%- endif -%}
      {{- site.title | escape -}}
    </title>

    <link
      href          = "/_subresources/document.css"
      rel           = "stylesheet">

    <link
      href          = "/_subresources/site-dm.webmanifest"
      media         = "(prefers-color-scheme: dark)"
      rel           = "manifest">
    <link
      href          = "/_subresources/site-lm.webmanifest"
      media         = "not (prefers-color-scheme: dark)"
      rel           = "manifest">
  </head>
  <body>
    <header>
      <h1>Last Odyssey <abbr title="system reference document">SRD</abbr></h1>
      <search><code>[[STUB-SEARCH]]</code></search>
      <nav><code>[[STUB-NAV]]</code></nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer><code>[[STUB-FOOTER]]</code></footer>
  </body>
</html>
